
.content{
  margin: 20px;
}



/* SEGUNDA DIV */
.divA{font-size: 20px; min-height: 160px; background-color: rgb(237, 253, 177);}
.divB{font-size: 20px; min-height: 160px; background-color: rgb(200, 223, 116);}
.divC{font-size: 20px; min-height: 160px; background-color: chocolate;}
