
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>

  <div class="content">
    <app-heroes></app-heroes>
    <!--<router-outlet></router-outlet>-->
  </div>



<div fxLayout = "row wrap" fxLayoutAlign="center center" >
  <!-- SEGUNDA DIV -->
  <div fxFlex="70%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap">
    <div class="divA" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">A</div>
    <div class="divB" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%" fxLayoutAlign="center center">B</div>
    <div class="divC" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center center">C</div>
  </div>

</div>


