<p>COMPONENTE 'MEME-TEST' ABAIXO: </p>



<!--    IMPRIMINDO O TAMANHO DA TELA (TESTANDO MINHA SERVICE NOVA): -->
<div><span>O tamanho da tela é: </span> {{mediaQueryService.currentScreenSize}}</div>
<div><span>A altura da tela é: </span> {{mediaQueryService.currentHeigh}}</div>
<div><span>A largura da tela é: </span> {{mediaQueryService.currentWidth}}</div>

<!--IMPRIMINDO O MEME USANDO A SERVICE -->
<div *ngIf="mediaQueryService.currentScreenSize === 'md'">
  <img [src]="meme$" ]>
</div>

<br>
<hr>

<!--IMPRIMINDO O MEME USANDO NGRX -->
<h1>IMPRIMINDO O MEME USANDO NGRX: </h1>
<!--Se "show$" for "true", então mostra a imagem. A função "trocar()" deve mudar o "show$" de false para true.-->
<button (click)="trocar()" >SHOW MEME!</button>
<div *ngIf="show$">
  <img [src]="meme$" ]>
</div>
